.container {
  width: 400px;
  margin: 4rem auto;
  background-color: rgba(235, 235, 235, 0.932);
  padding: 30px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2), -4px -4px 6px #fff;
}

.wlcm-user {
  font-weight: bold;
}

.img {
  text-align: center;
}

img {
  width: 100px;
}
