.App {
}

.header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: peru;
}

.header-links {
  font-family: "Itim";
  font-size: 1.4rem;
  margin-left: 3rem;
  padding: 0.2rem 1rem;
  cursor: pointer;
}

.header-login {
  font-family: "Itim";
  font-size: 1.4rem;
  margin-right: 3rem;
  padding: 0.2rem 1rem;
  cursor: pointer;
}

.home {
  box-sizing: border-box;
  width: 80%;
  height: 70vh;
  margin: 2rem auto;
  padding: 2rem;
  background-color: powderblue;
}

.home-container1 {
  text-align: center;
  font-size: 2.3rem;
  font-weight: bold;
  width: 80%;
  height: 40%;
  margin: 0 auto;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rebeccapurple;
}

.home-container2 {
  text-align: center;
  font-size: 2.3rem;
  font-weight: bold;
  width: 80%;
  height: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rebeccapurple;
}
